* {
    margin: 0;
    padding: 0;
}

body {
    color: #010c26;
    background-color: #eef3ff;
    display: flex;
    font-family: "Poppins",sans-serif;
    justify-content: center;
}

.game-container {
    margin-top: 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    min-height: 500px;
    background-color: hsl(300, 5%, 75%);
    font-size: 15px;
}

.heading {
    font-weight: 700;
    margin-top: 30px;
}

.scoreboard {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.player-score, .computer-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices {
    margin-top: 30px;
    gap: 20px;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

.game-result {
    margin-top: 30px;
    font-weight: 500;
}

img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid hsla(0, 8%, 10%, 0);
}

img:hover {
    border: 2px solid rgb(28, 24, 24);
}

.win, #yourScore {
    color: green;
}

.lose, #compScore {
    color: crimson;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
